@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.2;
}

h1 {
  margin: 0px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

button {
  display: inline-block;

  /* transition: all 0.5s ease; */
}

a {
  display: inline-block;
  margin: 0;
  text-decoration: none;
}

@media screen and (min-width: 1920px) {
  .container {
    max-width: 1920px;
  }
}

/* ___________________________________________ */
.header {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 35px;
}

.padding-row {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* mobile menu */

@media screen and (max-width: 999px) {
  .wrapper-mobi-button {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
  }
}

@media screen and (min-width: 1000px) {
  .header {
    margin-bottom: 70px;
  }
  .wrapper-mobi-button {
    display: none;
  }
  .button-search-mobi {
    display: none;
  }
}

.button-search-mobi {
  background: transparent;
  border: none;
  width: 24px;
  height: 24px;
}

.menu-button {
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open .icon-menu {
  display: none;
}

@media screen and (min-width: 10px) and (max-width: 999px) {
  .mobile-menu {
    position: absolute;
    display: none;
    z-index: 10;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
  }
  .mobile-menu.is-open {
    display: block;
  }
}

@media screen and (min-width: 1000px) {
  .col-mobile-swich {
    display: none;
  }
}

.navigation {
  font-weight: 700;
  font-size: 15px;
  line-height: 1.2;
  text-transform: uppercase;
}

@media screen and (min-width: 1000px) {
  .navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}

.navigation-link {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  color: #000000;
  padding: 10px;
  cursor: pointer;
  transition: all 0.5s ease;
}

@media screen and (min-width: 1000px) {
  .navigation-link {
    font-weight: 700;
  }
}

.navigation-link::before {
  position: absolute;
  content: "";
  display: block;
  width: 80%;
  height: 4px;
  background-color: #ec0f16;
  display: none;
}

.navigation-link :hover .navigation-link::after {
  display: block;
}

.navigation-link:hover {
  color: #000000;
}

@media screen and (min-width: 1000px) {
  .navigation-link:hover.navigation-link::before {
    bottom: -1px;
    display: block;
  }
}

@media screen and (min-width: 1920px) {
  .navigation-link:hover.navigation-link::before {
    bottom: 57px;
    display: block;
  }
}

.language {
  cursor: pointer;
}
@media screen and (max-width: 999px) {
  .language {
    text-align: center;
  }
}
.language::before {
  position: relative;
  content: "";
  display: inline-block;
  height: 2px;
  bottom: 5px;
  background-image: url("../images/line.jpg");
  margin-right: 10px;
}

@media screen and (min-width: 1920px) {
  .language::before {
    min-width: 150px;
  }
}

.lang-eng {
  font-weight: 700;
  color: #bdbdbd;
}

.lang-ru {
  font-weight: 700;
  color: #000000;
}
.lang-ru:hover {
  color: #333333;
}

.button-header {
  margin: 0;
  border: none;
  background-color: transparent;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
}

@media screen and (min-width: 1000px) and (max-width: 1199px) {
  .button-header {
    font-size: 13px;
  }
}

.button-header.login {
  color: #ec0f16;
  transition: all 0.5s ease;
}

@media screen and (max-width: 999px) {
  .make-grid {
    display: grid;
  }

  .mobile-position {
    grid-row-start: 1;
    display: flex;
    flex-direction: column;
  }

  .button-header.login {
    color: #000000;
  }
}

.button-header.login:hover {
  color: #cd1319;
}

.button-header.login {
  margin-bottom: 10px;
}

.button-header.registration:hover {
  color: #333333;
}

.search-form {
  min-width: 427px;
  border: none;
  border-bottom: 1px solid #000000;
  padding: 15px;
  background-color: transparent;
}

@media screen and (max-width: 999px) {
  .search-form {
    display: none;
  }
}

.button-search {
  position: relative;
  right: 50px;
  background: transparent;
  border: none;
}
@media screen and (max-width: 999px) {
  .button-search {
    display: none;
  }
}

.tel-link {
  font-weight: 700;
  color: #000000;
  transition: all 0.5s ease;
  text-align: center;
  grid-row-start: 3;
}

@media screen and (max-width: 999px) {
  .tel-link {
    margin-top: 20px;
  }
}

@media screen and (min-width: 1199px) {
  .tel-link {
    margin-right: 48px;
  }
}

.tel-link:hover {
  color: #cd1319;
}

.tel-icon {
  margin-right: 15px;
  transition: all 0.5s ease;
}
.tel-link:hover .tel-icon {
  fill: #cd1319;
}

.button-used {
  min-width: 220px;
  border: none;
  padding: 15px 21px;
  color: #ffff;
  background-color: #ec0f16;
  border-radius: 5px;
  font-weight: 600;
  text-align: center;
  transition: all 0.5s ease;
}

.button-used:hover {
  background-color: #cd1319;
}

@media screen and (max-width: 1919px) {
  .button-used {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1920px) {
  .button-used {
    margin-right: 24px;
  }
}

.button-sell {
  min-width: 220px;
  border: none;
  padding: 15px 20px;
  color: #ec0f16;
  background-color: transparent;
  border: 1px solid #ec0f16;
  font-weight: 600;
  border-radius: 5px;
}

.button-sell:hover {
  color: #cd1319;
  border-color: #cd1319;
}

/* __________Hero section___________ */
.row-margin {
  margin-bottom: 100px;
}

@media screen and (min-width: 1920px) {
  .row-margin {
    margin-bottom: 188px;
  }
}

.hero-slogan {
  margin-bottom: 48px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.23;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.hero-slogan::after {
  position: relative;
  content: "";
  top: 18px;
  display: block;
  max-width: 57px;
  height: 1px;
  background-color: #ec0f16;
}

.hero-title {
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: #000000;
  line-height: 1.51;
}

@media screen and (max-width: 372px) {
  .hero-title {
    font-size: 16px;
  }
}

@media screen and (min-width: 1000px) {
  .hero-slogan {
    font-size: 17px;
  }
}

@media screen and (min-width: 1200px) {
  .hero-title {
    font-size: 34px;
  }
}

@media screen and (min-width: 1920px) {
  .hero-title {
    font-size: 64px;
  }
}

.move-left {
  left: 10%;
}

.car-images {
  position: absolute;
  transition-property: transform;
  transition-duration: 1500ms;
}

.car-images:hover {
  transform: rotate(10deg);
  transform: scale(1.2);
}

@media screen and (max-width: 430px) {
  .car-images {
    max-width: 160px;
  }
}
@media screen and (min-width: 431px) and (max-width: 999px) {
  .car-images {
    max-width: 260px;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1919px) {
  .car-images {
    max-width: 444px;
  }
}

.car-images.gray {
  left: 35%;
}

@media screen and (max-width: 999px) {
  .hero-list-link {
    font-weight: 600;
    font-size: 15px;
    line-height: 1.6;
  }
}

.hero-list-link {
  min-width: 290px;
  padding: 12px 40px;
  background-color: rgba(10, 9, 9, 1);
  border-radius: 5px;
  font-weight: 600;
  font-size: 15px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.2em;
  color: #ffffff;
  transition: all 0.5s ease;
}

@media screen and (min-width: 1000px) {
  .hero-list-link {
    min-width: 427px;
    padding: 35px 40px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
  }
}

.hero-list-link:hover {
  color: #bdbdbd;
}

.hero-list-link::before {
  position: relative;
  content: "";
  display: inline-block;
  bottom: 5px;
  right: 100px;
  height: 1px;
  width: 24px;
  background-color: #ec0f16;
}

@media screen and (min-width: 1000px) {
  .leasing::before {
    right: 80px;
  }
  .auction::before {
    right: 80px;
  }
}

.buy {
  background-image: url("../images/buy.jpg");
}
.sell {
  background-image: url("../images/sell.jpg");
}
.leasing {
  background-image: url("../images/leasing.jpg");
}

@media screen and (max-width: 999px) {
  .leasing::before {
    right: 80px;
  }
  .auction::before {
    right: 80px;
  }
}
.auction {
  background-image: url("../images/auction.jpg");
}
